body, html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a:focus, a:hover {
    color: #1c7c39;
    text-decoration: underline;
}

a {
    color: #68b77a;
}

/* ----------- header ----------------- */
header {
    background: url("../media/back.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
    width:100%;
    text-align: center;
}

header h1 {
    top: 130px;
    position: relative;
    color: white;
    font-size: 4rem;
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    letter-spacing: 5px;

}

/* ----------- Layout ----------------- */
.odd{
    width: 100%;
    background-color: #F3F2EE;

}

.even{
    width: 100%;
    background-color: #ffffff;
}

.left-pane{
    width: 50%;
    padding: 4rem 2rem;
    flex:1;
    max-width: 400px;
}

.right-pane{
    padding: 4rem 2rem;
    flex:1;
    max-width: 400px;
}

.flexbox-container{
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.courses{
    display: none;
}

.float-right{
    float: right;
}

/* ----------- Course items ----------------- */
.progress-bar-success {
    background-color: #91A886;
}

.course-name{
    font-weight: 600;
}

article h2 {
    margin-top: 0;
}




