body, html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a:focus, a:hover {
    color: rgb(16, 65, 106);
    text-decoration: underline;
}

a {
    color: rgb(31, 126, 197);
}

/* ----------- header ----------------- */
header {
    background: url("../media/back.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
    width:100%;
    text-align: center;

    /*Align header center center */
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

header h1 {
    position: relative;
    color: white;
    font-size: 5em;
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    letter-spacing: 5px;

}

/* ----------- Layout ----------------- */
.odd{
    width: 100%;
    background-color: #F3F2EE;

}

.even{
    width: 100%;
    background-color: #e0e0e0;
}

.left-pane{
    width: 50%;
    padding: 4rem 2rem;
    flex:1;
    max-width: 400px;
    flex-basis: auto;
}

.right-pane{
    padding: 4rem 2rem;
    flex:1;
    max-width: 400px;
    flex-basis: auto;
}

.flexbox-container{
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.courses{
    display: none;
}

.float-right{
    float: right;
}

/* ----------- Course items ----------------- */
.progress-bar-success {
    background-color: rgb(84, 116, 140);
}

.course-name{
    font-weight: 600;
}

article h2 {
    margin-top: 0;
    color: rgb(242, 108, 99);
}


/* ----------- Footer and social ----------------- */

.links {
    font-family: 'Architects Daughter', cursive;
    text-align: center;

}

.social {
   text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-family: 'Architects Daughter', cursive;

}

.social-list {
    list-style-type:none;
}

.social-list li{
    display: inline;
    list-style-type: none;
    padding-right: 100px;
}

.social .fa-li {
    left: 0;width: auto;
}


.social .fa-ul {
 margin-left: 0;
}

footer{
    padding-bottom: 3rem;
}

.links-header{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

.links a {
    color: rgb(242, 108, 99);
}

.social a {
    color: rgb(244, 153, 147);
}

/* -----------Modal window ----------------- */

.modal-header{
    background: rgba(238, 150, 140, 0.66);
}



/* ----------- Media Queries ----------------- */
@media (max-width: 820px) {

    .flexbox-container {
        display: block;
    }

    .left-pane,
    .right-pane {
        min-width: 100%;
        padding: 0.5rem 2rem;
    }

    .progress {
        margin-bottom: 5px;
    }

    .flexbox-container {
        padding: 4rem 0px;
    }

    .fa-2x {
        font-size: 1em;
    }

    .social-list li{
        padding-right: 70px;
    }

    .progress{
        max-width: 200px;
    }
    header{
        height: 185px;
    }


}

/* ----------- fadeInBlock  ----------------- */
.fadeInBlock {
    opacity:0;
}

/* ----------- report-card ----------------- */
.report-card{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-family: 'Architects Daughter', cursive;
}

.report-card-wrapper{
    padding: 2rem 0;
}

.report-card-wrapper .badges li{
    width: 7% !important;
    margin: 7px;
}

.badges li img {
    opacity: 0.7;
}

.report-card .badges {
    margin: 10px 10px 0;
}

/* ----------- hr ----------------- */
hr {
    max-width: 800px;
}
/* ----------- tinted overlay on header ----------------- */
header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(109, 136, 157, 0.47);
}

header{
    position: relative;

}